

.Cbutton
  {
    @media only screen  and (max-device-width:600px)
     {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      
      
    }
    &:not(:disabled):hover
    {
      &:active
      {
      background-image: linear-gradient(120deg, var(--amarelo) 92%,var(--preto) 92.3%);;
      color: var(--preto);
       
     }
     text-shadow: 1px 1px 1px var(--preto), 0 0 0.1em var(--cinza), 0 0 0.2em var(--amarelo);
     background-image: linear-gradient(120deg, var(--preto) 92%,var(--amarelo) 92.3%);;
      cursor: pointer;
      filter: brightness(1.1);
      border-color: var(--branco);
      border-width: 2px;
      border-style: solid;

    }
   
    &:disabled
    {
      opacity: 0.6;
      cursor: not-allowed;
    }
    width: 150px;   
    height: 40px;   
    margin: 2em 1em 1em ;
    border-radius: 10px;
    background-color: var(--preto);
    color: var(--amarelo);     
    border-color: var(--amarelo);
    border-width: 2px;
    border-style: solid; 
    font-size: 16px; 
   }

   .buttonsText{
     font-size: 15px;
   }