.bacLogin{
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  text-align: center;
  background: linear-gradient(35deg, var(--amarelo) 20%,var(--preto) 15%,var(--cinza) 20.6%);
  max-width: 700px;
  border-color: var(--amareloM);
  border-width: 3px 3px 3px 3px;
  border-style: inset;
  border-radius: 0.3em;
  box-shadow: 2px 1px 2px 4px var(--amareloT);   
  }
  h1,h2{
    text-align: center;
  }

  img {
    max-width: 610px;
    max-height: 250px;
  }

 